<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Event</title>
    <link rel="stylesheet" href="/style.css">

 
</head>
<body>
    <h1>Add Event</h1>
    <form action="/add-event" method="post">
        Event Name: <input type="text" name="eventName" required><br>
        Event Summary: <input type="text" name="eventSummary" required><br>
        Event Date: <input type="date" name="eventDate" required><br>
        Your Name: <input type="text" name="userName" required><br>
        <input type="submit" value="Submit">
    </form>
  
</body>
</html>
